<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link type="text/css" href="static/css/stylesSheet.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

  </head>
</html>
<body class="bodyApp">
  <div class="bannerS">
    <div class="bannerText">Antonia Francisca Ayala</div>
  </div>
  <div class="sidebar">
    <div class="wrap">
    <img src="public/img/icon.png" alt="">
    <div class="menuOption"><a href="https://pokeapi.co/api/v2/ability/7/">Menu Option</a></div>
    <hr>
    <div class="menuOption"><a href="https://pokeapi.co/api/v2/ability/150/">Menu Option</a></div>
    <div class="menuOption"><a href="https://pokeapi.co/api/v2/pokemon-form/132/">Menu Option</a></div>
    <div class="menuOption"><a href="https://pokeapi.co/api/v2/item/234/">Menu Option</a></div>
    <hr>
    <div class="menuOption"><a href="https://pokeapi.co/api/v2/item/251/">Menu Option</a></div>
    <div class="menuOption"><a href="https://pokeapi.co/api/v2/version/12/">Menu Option</a></div>
    </div>
    
  </div>
  
  <div class="mainContainer" id="mainContainer">
